! inspired by terminal.sexy
! Scheme Browser: mocha.dark
! Exported: Xresources
!
*.foreground: #C6C6C6
*.background: #1C1C1C
!in dark mode need light color like white
!*.cursorColor: #444444
*.cursorColor: #ffffff

! black 236 238
*.color0: #303030
*.color8: #444444
! red 167
*.color1: #d75f5f
*.color9: #d75f5f
! green 108
*.color2: #87AF87
*.color10: #87AF87
! yellow 221
*.color3: #ffd75f
*.color11: #ffd75f
! blue 110
*.color4: #87afd7
*.color12: #87afd7
! magenta 146
*.color5: #afafd7
*.color13: #afafd7
! cyan 75
*.color6: #afd7ff
*.color14: #afd7ff
! white 239 15
*.color7: #e4e4e4
*.color15: #ffffff

!
! inspiration from
! https://smarttech101.com/urxvt-installation-color-scheme-fonts-resize-etc/#urxvt-fonts
!
!URxvt*font: \
!            xft:DroidSansMono Nerd Font Mono:antialias=true:size=16, \
!            xft:Comic Mono:style=Normal:antialias=true:size=12:minspace=False, \
!            xft:DroidSansMono Droid Sans Mono:antialias=true:size=16, \
!            xft:UbuntuMono Nerd Font Mono:style=Regular:antialias=true:size=16:minspace=False, \
!            xft:SauceCodePro Nerd Font:style=Regular:antialias=true:size=16:minspace=False, \
!            xft:DejaVuSansMono Nerd Font:antialias=true:size=16:minspace=False, \
!            xft:FuraMono NF:size=16:antialias=true:minspace=False, \
!            xft:RobotoMono Nerd Font:antialias=true:size=16:minspace=False, \
!            xft:Noto Sans Mono:antialias=true:size=16:minspace=False, \
!            xft:Monospace:style=Medium:antialias=true:minspace=False
! Simplified variant of font definition
! gemini support: changed font to FiraCode Nerd Font Mono
! - uncommented following line
URxvt*font: xft:Monospace:size=14:antialias=true
! gemini support: changed font to FiraCode Nerd Font Mono
! - This single line tells URxvt to use the FiraCode Nerd Font Mono at a size of 16, with antialiasing enabled.
! - The term FiraCode Nerd Font Mono is the correct, full name for the font you installed 
! URxvt*font: xft:FiraCode Nerd Font Mono:antialias=true:size=16
! URxvt*font: xft:FiraCode Nerd Font:size=16:antialias=true,xft:Noto Sans Mono:size=16:antialias=true
! URxvt*font: xft:FiraCode Nerd Font Mono:size=12:antialias=true,xft:Noto Sans Mono:size=12:antialias=true
URxvt*boldFont: \
            xft:DroidSansMono Nerd Font Mono:antialias=true:size=16, \
            xft:Comic Mono:style=Bold:antialias=true:size=18:minspace=False, \
            xft:UbuntuMono Nerd Font Mono:style=Regular:antialias=true:size=16:minspace=False, \
            xft:SauceCodePro Nerd Font:style=Medium:antialias=true:size=16:minspace=False, \
            xft:DejaVuSansMono Nerd Font:antialias=true:size=16:minspace=False, \
            xft:FuraMono NF:size=16:antialias=true:minspace=False, \
            xft:RobotoMono Nerd Font:antialias=true:size=16:minspace=False, \
            xft:Noto Sans Mono:antialias=true:size=16:minspace=False, \
            xft:Monospace:style=Medium:antialias=true:minspace=False
! show boldness only by boldness and nothing else: intensityStyles: false
URxvt*intensityStyles: false
URxvt*borderLess: false
URxvt*externalBorder: 0
URxvt*internalBorder: 4
URxvt*scrollBar: false
URxvt*saveLines: 5000
URxvt*cursorBlink: false
URxvt*cursorUnderline: true
URxvt*letterSpace: -2
  
URxvt*perl-ext-common: default,tabbedex

!changed keybind as need for vim and tmux
URxvt.keysym.Control-Shift-N: perl:tabbedex:new_tab
!URxvt.keysym.Control-Shift-K: perl:tabbedex:next_tab
URxvt.keysym.Control-Shift-D: perl:tabbedex:next_tab
!URxvt.keysym.Control-Shift-J: perl:tabbedex:prev_tab
URxvt.keysym.Control-Shift-S: perl:tabbedex:prev_tab
URxvt.keysym.Control-Shift-R: perl:tabbedex:rename_tab
!URxvt.keysym.Control-Shift-H: perl:tabbedex:move_tab_left
URxvt.keysym.Control-Shift-A: perl:tabbedex:move_tab_left
!URxvt.keysym.Control-Shift-L: perl:tabbedex:move_tab_right
URxvt.keysym.Control-Shift-F: perl:tabbedex:move_tab_right

!disable basic-and keycap picture insert mode
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt*tabbedex.tabbar-fg: 15
URxvt*tabbedex.tabbar-bg: 236
URxvt*tabbedex.tab-fg: 110
URxvt*tabbedex.tab-bg: 236
URxvt*tabbedex.transparent: true
URxvt*tabbedex.new-button: false
